<!--Uses Jinja2 templating language-->
{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}
      {% if title %}
      Welcome to {{ title }}
      {% else %}
      Welcome!
      {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
<!--                    <li><a href="{{ url_for('index') }}">Home</a></li>-->
                    <li><a href="{{ url_for('about') }}">What is this?</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://mgbox.me">mgbox.me</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {%if main_header %}
            <h1>{{ main_header }}</h1>
        {% else %}
            <h1>Spark Configurator</h1>
        {% endif %}
        <!--This should print out any system message that has been generated so far (i.e. forms input)-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- Here goes all the good stuff (the app content)-->
        {% block app_content %}{% endblock %}
    </div>
    <hr>
    {% block footer %}
        <div class="container text-center text-muted">
            <footer>
                &copy; 2019-<script type="text/JavaScript">
                        const theDate = new Date()
                        document.write(theDate.getFullYear())
                </script>
                Copyright: <a href="http://matteoguzzo.com">Matteo Guzzo</a>
                - Source code for this project
                <a href="https://gitlab.com/teoguso/sparkconf-app">here</a>
            </footer>
        </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Matomo -->
    <script type="text/javascript">
          var _paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["setCookieDomain", "*.mgbox.me"]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//matomo.mgbox.me/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
    <noscript><p><img src="//matomo.mgbox.me/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

{% endblock %}

