{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block form_content %}
    {{ wtf.quick_form(form) }}
{% endblock %}

{% block calc_result %}
    {% if form.validate_on_submit() %}
        <h3>Check your input data:</h3>
        <li>Number of nodes: {{ form.cluster_nodes.data }}</li>
        <li>CPUs per node: {{ form.node_cpus.data }}</li>
        <li>RAM per node: {{ form.node_ram.data }}</li>
        <li>Fat executors:
            {% if form.force_fat_executors.data %}
            Yes
            {%else %}
            No
            {% endif %}
        </li>
    {% endif %}
    {% if result %}
        <h3>Recommended Configuration</h3>
        <div class="well well-lg"><code>
            spark.executor.instances: "{{ result.executor_instances }}"
            <br>
             spark.executor.cores: "{{ result.executor_cores }}"
            <br>
             spark.executor.memory: "{{ result.executor_memory }}g"
        </code></div>
    {% endif %}
{% endblock %}
