{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <h3>Welcome!</h3>
                    <p>
                        Welcome to the <a href="https://spark.apache.org/">Spark</a>
                        cluster configurator!
                        Given your hardware capacity, this
                        tool will give you the most appropriate settings
                        to maximize your cluster efficiency and avoid
                        memory issues.
                    </p>
                    <p>
                        The configurator assumes that you
                        are using YARN or some sort of application manager.
                    </p>
                    <p>
                        These parameters can be used in spark jobs, such as in:<br>
                        <code>
                            $ spark-submit --class <CLASS_NAME> --num-executors ? --executor-cores ? --executor-memory ? ...
                        </code>.
                    </p>
                </div>
            <div class="col-sm-4">
                <div class="well well-lg">
                    {% block form_content %}{% endblock %}
                </div>
            </div>
            <div class="col-sm-4">
                <!--Here results from calculation-->
                    {% block calc_result %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
